@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    @if (Model.EnableRegister)
    {
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Create an account to log in.</h4>
                    <hr />
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@

                    <input type="hidden" asp-for="ReturnUrl" />

                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" name="button" value="register">Let's go!</button>
                        <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">I have an account already</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    }

    @if (!Model.EnableRegister)
    {
        <div class="alert alert-warning">
            <strong>Invalid register request</strong>
            This server doesn't allow registering new users.
        </div>
    }
</div>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@