@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Your IP: @HttpContextAccessor.HttpContext.Connection.RemoteIpAddress.ToString()</p>
    <h1>This site is under heavy development. It is very likely that information entered(User account,...) get overwritten/deleted!</h1>
</div>
